<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School -Manager_Acceuil</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

  
    <header>

        <div>
            <h2><span>S</span>chool <span>M</span>anager</h2>
        </div>

        <nav>
            <a href="">Connexion</a>
        </nav>

    </header>

    <section>

        <div>
            <h1>
                Simplifiez la gestion
                de votre établissement
            </h1>

            <p>
                Une plateforme complète pour gérer
                les étudiants, les professeurs,
                les notes et les absences.
            </p>

            <button>
               <a href=""> Inscription</a>
            </button>

        </div>


        <div>
           <img src="./image/logo.png" alt="">
        </div>

    </section>


</body>

</html>